.moviepagemaindiv{
    background-color: rgb(13,35,41);
}
.movieheading{
    color: rgb(132,245,251);
    font-size: 50px;
}
.movieheading1{
    margin-top: 10px;
font-size: 25px;
}
.maincardsmoviepage{
    background-color: rgb(13,35,41);;
}
